@import "bootstrap-sprockets";
@import "bootstrap";

@import 'https://fonts.googleapis.com/css?family=Oxygen:400,700|Source+Sans+Pro:400,400i,600,700';

/*==============================================================================
                      VARIABLES
==============================================================================*/
/* Fonts */
$font-copy: 'Source Sans Pro', sans-serif;
$font-heading: 'Oxygen', sans-serif;

/* Colors */
$dark-blue: #0074c8;
$med-blue: #3e8acc;
$light-blue: #06a7e2;
$light-grey: #e6e6e6;
$dark-grey: #959595;
$city-red: #db0e0e;
$city-orange: #f2973d;
$city-green: #58b957;
$city-purple: #cc6dac;

/*==============================================================================
                      MIXINS
==============================================================================*/
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/*==============================================================================
                      UNIVERSAL (from railstutorial)
==============================================================================*/
body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 { margin-bottom: 10px; }
}

/*==============================================================================
                      TYPOGRAPHY (from railstutorial)
==============================================================================*/
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*==============================================================================
                      HEADER (from railstutorial)
==============================================================================*/
#logo {
  float: left;
  margin-right: 5px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 9px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/*==============================================================================
                      SIDEBAR (from railstutorial)
==============================================================================*/

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/*==============================================================================
                      FOOTER (from railstutorial)
==============================================================================*/
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a { color: #555;
    &:hover {
       color: #222;
    }
  }
  small { float: left; }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*==============================================================================
                      FORMS (from railstutorial)
==============================================================================*/

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  cursor: pointer;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}
/*==============================================================================
                      MISCELLANEOUS (from railstutorial)
==============================================================================*/

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


